
<h2>Agents Page</h2>

<nav>
    <ul>
        <li><a href='/'>Index</a></li>
        <li><a href='/properties'>Properties</a></li>
        <li><a href='/agents'>Agents</a></li>
        <li><a href='/buyers'>Potential Buyers</a></li>
        <li><a href='/sellers'>Sellers</a></li>
        <li><a href='/buy-prop'>Properties has Potenial Buyers</a></li>
    </ul>
</nav>

<table id="agents-table">
    <thead>
        <tr>
            {{!-- {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}} --}}
            <th>Agent ID</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Full Name</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.agent_id}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.name}}</td>
            
            <td><button onclick="deleteAgent({{this.agent_id}})">DELETE</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete-agent.js"></script>

<h4>Add new Agent: </h4>
<form id="add-agent-form">
    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <input type="submit" class="submit-btn">
</form>

<script src="./js/add-agent.js"></script>

<h4>Update an Agent: </h4>
<form id="update-agent-form">

    <label for="input-name">Name: </label>
    <select name="input-name" id="select-agent">
        <option value="">Select an Agent to update</option>
        {{#each data}}
        <option value="{{this.agent_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-update">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone-update">

    <input type="submit" class="submit-btn">
</form>

<script src="./js/update-agent.js"></script>