<h2>Properties has Potenial Buyers</h2>

<nav>
    <ul>
        <li><a href='/'>Index</a></li>
        <li><a href='/properties'>Properties</a></li>
        <li><a href='/agents'>Agents</a></li>
        <li><a href='/buyers'>Potential Buyers</a></li>
        <li><a href='/sellers'>Sellers</a></li>
        <li><a href='/buy-prop'>Properties has Potenial Buyers</a></li>
    </ul>
</nav>

<table id="buy-prop-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.buyer_id}}</td>
            <td>{{this.property_id}}</td>
            <td><button onclick="">DELETE</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete-buyp-prop.js"></script>

<h4>Add a new Property-Potential Buyer relationship</h4>
<form id="add-buy-prop-form">
    <label for="input-buyer">Buyer: </label>
    <select name="input-name" id="select-buyer">
        <option value="">Select a Potential Buyer</option>
        {{#each buyers}}
        <option value="{{this.buyer_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-property">Property: </label>
    <select name="input-property" id="select-property">
        <option value="">Select a Property</option>
        {{#each properties}}
        <option value="{{this.property_id}}">{{this.address}}</option>
        {{/each}}
    </select>
    <input type="submit" class="submit-btn">

    <h4>Update a Property-Potential Buyer relationship</h4>
    <form id="buy-prop-form">
        <label for="input-buyer">Buyer: </label>
        <select name="input-name" id="select-buyer">
            <option value="">Select a Potential Buyer</option>
            {{#each buyers}}
            <option value="{{this.buyer_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="input-property">Property: </label>
        <select name="input-property" id="select-property">
            <option value="">Select a Property</option>
            {{#each properties}}
            <option value="{{this.property_id}}">{{this.address}}</option>
            {{/each}}
        </select>
        <input type="submit" class="submit-btn">
        </form>
</form>