<h2>Sellers Page</h2>

<nav>
    <ul>
        <li><a href='/'>Index</a></li>
        <li><a href='/properties'>Properties</a></li>
        <li><a href='/agents'>Agents</a></li>
        <li><a href='/buyers'>Potential Buyers</a></li>
        <li><a href='/sellers'>Sellers</a></li>
        <li><a href='/buy-prop'>Properties has Potenial Buyers</a></li>
    </ul>
</nav>

<table id="sellers-table">
    <thead>
        <tr>
            <th>Seller ID</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Name</th>
            <th>Agent</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.seller_id}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.name}}</td>
            <td>{{this.agent_name}}</td>
            <td><button onclick="deleteSeller({{this.seller_id}})">DELETE</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete-seller.js"></script>

<h4>Add a new Seller</h4>
<form id="add-seller-form">
    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <select name="input-agentid" id="input-agentid">
        <option value="">Select an Agent</option>
        {{#each agents}}
        <option value="{{this.agent_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit" class="submit-btn">
</form>

<script src="./js/add-seller.js"></script>

<h4>Update a Seller</h4>
<form id="update-seller-form">
    <label for="input-name">Name: </label>
    <select name="input-name" id="select-seller">
        <option value="">Select a Seller to update</option>
        {{#each data}}
        <option value="{{this.seller_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-update">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone-update">

    <label for="input-agent"></label>
    <select name="input-agent" id="select-agent">
        <option value="">Change Agent</option>
        {{#each agents}}
        <option value="{{this.agent_id}}">{{this.name}}</option>
        {{/each}}
    </select>
    
    <input type="submit" class="submit-btn">
</form>
<script src="./js/update-seller.js"></script>